*{
    box-sizing: border-box;
}
.HighDarkColor{
    color: rgb(13, 19, 33) !important;
}
.DarkColor{
    color: rgb(29, 45, 68) !important;
}
.NeutralColor{
    color: rgb(62, 92, 118) !important;
}
.LightColor{
    color: rgb(116, 140, 171) !important;
}
.HightLightColor{
    color: rgb(240, 235, 216) !important;
}
.HightLightBGColor{
    background-color: rgb(240, 235, 216)!important ;
    line-height: 1.5!important ;
}
.DarkBGColor{
    background-color: rgb(29, 45, 68)!important ;
}
.LightBGColor{
    background-color: rgb(116, 140, 171)!important ;
}

.FullImage{
    height: 100%;
    width: 100%;
}
.header {
    position: relative;
    width: 100%;
    height: 90vh; /* Full screen height */
    overflow: hidden;
  }

/* Style for each carousel item (screen) */
.new-carousel {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
    height: 100vh;
  }

  .new-carousel-item {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    color: var(HighDarkColor);
    font-weight: 600;
    font-size: 3em;
    text-align: center;
    background-size: cover;
    background-position: center;
  }

  /* Background images for each slide */
  .new-carousel-item:nth-child(1) {
    background-image: url('../Photos/White_Logo.JPEG');
    background-size: 74% 100%;
  }
  @media (max-width: 850px) and (min-width: 320px) {
    .new-carousel-item:nth-child(1) {
        background-image: url('../Photos/White_Logo.JPEG');
        background-size: cover;
      }
  }
  .new-carousel-item:nth-child(2) {
    background-image: url('../Photos/Carsoul1.jpg');
  }

  .new-carousel-item:nth-child(3) {
    background-image: url('../Photos/Carsoul2.jpeg');
  }
  .new-carousel-item:nth-child(4) {
    background-image: url('../Photos/Carsoul3.jpeg');
  }
  .new-carousel-item:nth-child(5) {
    background-image: url('../Photos/After-sales\ Service\ for\ Manufacturing.jpg');
  }
  /* Styling for navigation controls */
  .new-carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }