.HighDarkColor{
    color: rgb(13, 19, 33) !important;
}
.DarkColor{
    color: rgb(29, 45, 68) !important;
}
.NeutralColor{
    color: rgb(62, 92, 118) !important;
}
.LightColor{
    color: rgb(116, 140, 171) !important;
}
.HightLightColor{
    color: rgb(240, 235, 216) !important;
}
.HightLightBGColor{
    background-color: rgb(240, 235, 216)!important ;
    line-height: 1.5!important ;
}
.DarkBGColor{
    background-color: rgb(29, 45, 68)!important ;
}
.LightBGColor{
    background-color: rgb(116, 140, 171)!important ;
}